body {
  font-family: "Open Sans", sans-serif;
}

h1,
h2,
h3,
.card-body > h5 {
  font-family: "Lobster", cursive;
}

h2 {
  color: #3046c5;
}

.card-img-overlay h5 {
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
}

.row-content {
  padding: 50px 0;
  border-bottom: 1px ridge;
  min-height: 200px;
}

.site-footer {
  background-image: linear-gradient(#b6ee9d, white);
  padding: 20px 0;
}

.jumbotron {
  margin: 0;
  padding: 5px;
  background-image: linear-gradient(to right, #3ddd37, #3c882c, #b8d1ac);
  color: white;
}

.jumbotron h3 {
  color: #cec8ff;
}

.navbar-dark {
  background-color: #088304;
}
